@{
    ViewData["Title"] = "Home Page";
}

    <div class="inner">
        <h1 class="display-4">Welcome</h1>
        <p>Overview of my approach to building <a asp-area="" asp-controller="Home" asp-action="Overview"><b>Playstation Game Library</b></a>.</p>
    </div>
